datasets/*
!datasets/.gitkeep
models/*
!models/.gitkeep
!models/README.md
!models/sorting_bins/
!models/sorting_bins/**/
!models/sorting_bins/**/*.sdf
!models/robot_arm_sorting_bins/
!models/robot_arm_sorting_bins/**/
!models/robot_arm_sorting_bins/**/*.sdf
!models/robot_arm_objects/
!models/robot_arm_objects/**/
!models/robot_arm_objects/**/*.sdf
runs/
__pycache__/
*.pyc
